

.note {
  cursor: pointer;
  opacity:0.8;
}

body {
  margin:4% !important;
  background-color: #eee !important;
}

.vue-slider-component .vue-slider-tooltip-wrap.vue-slider-tooltip-top {
  top:-4px!important;
}

.tip {
  text-align: center;
  background:rgba(255,255,255,0.8);
  border-radius: 6px;
  box-shadow:0.5px 0.5px 2px 1px rgba(0,0,0,.32);
  font-size:12px;
  padding:4px;
}

.row {
  margin:12px 0;

  background-color: #ddd;
  border-radius: 24px;
}

.sliders {
  padding:52px 0 10px 0;
}
.field {
  background: none;
}
.field-notes {
  font-family:OpenSans, sans-serif;
  font-size:40px;
}
.scroller {
  fill:#fff;
  opacity:0.4;
}
.scroller-button {
  stroke: #fff;
  stroke-width:3;
  opacity:0.5;
  fill:transparent;
}
