#vuetone {
  max-width: 960px;
}

#oscilloscope {
   position:fixed;
  z-index:100;
  width:100%;
  height:80vh;
  pointer-events:none;
  left:0;
  top:0
}
#chromatone {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: "Neusa Bold";
  src: url(https://cdn.glitch.com/1520e3d1-e09f-4c87-bd42-89b5fa497055%2FNeusa-Bold.woff?1543956951264);
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Neusa Demibold', sans-serif;
}


.zdog-canvas {
  display: block;
 width: 100%;
 height:100%;
  background: #FDB;
  cursor: move;
}

.abs-note {
  display:block;
  position:absolute;
  top:0;
  right:0;
  padding:1em;
  user-select:none;
}

/* Scale canvas with resize attribute to full size */
.paper{
  width: 100%;
  height: 100%;
  background-color: #000;
}

.midi-bus {
padding: 6px;
font-size:12px;
}

.absolute {
  position:absolute;
}

.status {
border:#999 2px solid;
border-radius:2px;
color:#999;
padding:4px;
margin:4px;
line-height: 2;
cursor: pointer;
}

.status.active {
border-color:green;
color:green;
}

.status.error {
border-color:red;
color:red;
}

/* MIDI-monitor */

.midi-monitor {
  display:flex;
  height:100%;
  align-items: stretch;
}

.midi-channel {
  max-height: 100%;
  flex:1 0 14px;
  margin:0 2px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: stretch;
	align-items: stretch;
	align-content: center;
  background-color: hsla(60,0%,50%,0.1);
}

.midi-cc {
  flex:1 1 6%;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items:baseline;
	align-content:center;

}

.cc-bar {
  background-color: #bbb;
  height:100%;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items:center;
	align-content:center;
}

.midi-notes.channel-name {
  color:black;
}

.midi-notes {
  padding:4px;
  flex:1 1 6%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
  color:white;
  background-color: hsla(60,0%,60%,0.2);
}

/* tone table */

.slider-holder {
  padding:0 40px;
}

/* TONE-GRID */

.tone-table {
   width:100%;
  border-radius:20px;
}
.tone-table tr:first-child td:first-child {
 border-radius:20px 0 0 0 ;
}
.tone-table tr:first-child td:last-child {
 border-radius:0 20px 0 0 ;
}
.tone-table tr:last-child td:first-child {
 border-radius:0 0 0 20px ;
}
.tone-table tr:last-child td:last-child {
 border-radius:0 0 20px 0 ;
}
.grid-block {
  position:relative;
}
.grid-cover {
  position:absolute;
  background-color:rgba(100,100,100,0.1);
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:20;
  border-radius:20px;
}
.grid-controls {
  display:grid;
  grid-template-columns: 1fr 2fr;
}
.grid-note {
   margin:6px;
}
.grid-note-dot {
   border-radius:0px;
   padding:10px;
  text-align:center;
  color:white;
  font-size:10px;
  font-weight:bold;
}
.grid-note-dot.inactive {
  opacity:0.2;
}
/* END of TONE-GRID */

.note-name {
	font-family: "Neusa Bold";
	font-size:22px;
	user-select: none;
	pointer-events: none;
	transform-origin:center;
}

.note-circle, .chord-trigger, .chord-triangle {
	transition:all 400ms ease-in-out;
}

.root {
  stroke:#fff;
}

.deactivated {
  fill:#999;
  stroke:#aaa;
}

.chord-name {
	font-family: "Neusa Bold";
	font-size:22px;
	opacity:0.5;
	user-select: none;
	pointer-events: none;
	transform-origin:center;
}

.chord-triangle.major {
	opacity:0.7
}

.chord-trigger {
	opacity:0.5;
	mix-blend-mode: screen;
}

.note {
  cursor: pointer;
}

.oscs {
  margin: 4px;
}
.switches p {
  font-size: 14px;
}
button.is-small.is-rounded {
  font-size: 11px;
  font-weight: bold;
  margin: 0 2px;
  padding:2px 8px;
  text-transform: uppercase;
}
.scale-select .field:not(:last-child) {
  margin-bottom: 0;
}
.scale-select,
.adsr-sliders,
.oscs {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
.rythm {
  font-size: 14px;
}

.wrap {
  flex-flow: row wrap;
}
.adsr-sliders {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin-bottom: 0 !important;
}
.adsr-slider {
  flex: 1 1 10%;
}

.adsr-sliders .level-item:not(:last-child) {
  margin-bottom: 0;
}

.letters {
	user-select: none;
	pointer-events: none;
  font-family: sans-serif;
}

.tip {
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 6px;
  box-shadow: 0.5px 0.5px 2px 1px rgba(0, 0, 0, 0.32);
  font-size: 10px;
  padding: 4px;
}

.row {
  margin: 12px;
  padding: 8px;
  background-color: #ddd;
  border-radius: 4px;
  position:relative;
}

.field {
  background: none;
}
.field-notes {
  font-family: OpenSans, sans-serif;
  font-size: 40px;
  font-weight: bold;
}
.scroller {
  fill: #fff;
  opacity: 0.6;
}
.scroller-button {
  fill: #888;
  fill-opacity: 0.2;
}
.chord {
  opacity: 0.5;
}
.active-chord {
  opacity: 1;
}
.chord-icon {
  display: inline-block;
  width: 8%;
  margin: 1px;
  cursor: pointer;
}
.minor {
  transform: rotate(180deg);
}
.minor text {
  transform: translateY(-4px);
}

.chord-frame {
  fill: transparent;
  stroke: #333;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1px;
}

.root-chord {
  stroke-width: 3px !important;
}

.root-select {
  cursor: pointer;
}

/*
sequencer
*/

.level.is-mobile.wrap .level-item {
  margin-right: 4px;
}

.adsr {
  border:1px solid #eee;
  line-height:1em;
  border-radius: 4px;
  margin: 4px;
  padding: 4px;
}
.dot {
  fill: #999;
}
.dot.highlight {
  stroke: #99e;
  stroke-width: 4px;
}

.dot.active {
  fill: #555;
}
.button.left {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}
.button.right {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.field:not(:last-child) {
  margin-bottom:0!important;
}

.tracker-options {
  margin-bottom:6px;
  padding:12px;
  border-radius:4px;
  background-color: #ccc;
}

.metro-options {
  margin-bottom:10px;
}

.metro-options, .tracker-options {
  display:flex;
  justify-content:space-between;
  flex-flow: row wrap;
  align-items: center;

}

.beat-row {
  display:grid;
  grid-template-columns: 48px 32px auto 32px 32px;
}

.beat-group {
  display: grid;
  background: #aaa;
  margin:0 2px;
  grid-template-columns:  repeat(auto-fit, minmax(6%,1fr));
}
.beat-mute {
    font-size:10px;
}
.beat-mute, .beat-open {
  background-color:#eee;
  display:flex;
  flex-flow:column;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 4px;
  margin: 4px;
  cursor: pointer;
  border: 1px solid #999;
}
.beat-mute.unmute {
  background-color:#7957d5;
  color:white;
  font-weight: bold;
}
.beat-block {
    height: 40px;
    min-width:12px;
    border-radius: 4px;
    margin: 4px;
    border: 1px solid #777;
    background-color: #aaa;
}
.beat-block.plus {
  font-weight: bold;
  font-size:18px;
  padding:0;
  background-color: #ddd;
}
.beat-block.fourth {
  border-color:#444;
}
.beat-block.act {
  background-color:#a899d2;
}
.beat-block.active {
  background-color:#777;
}
.beat-block.active.act {
  background-color:#7957d5;
}
.arrow-collapse {
   fill:#999;
   transform-origin: 7px 12px;
   transition: all ease 400ms;
}
.open .arrow-collapse {
   transform:rotate(180deg);
}
.track {
  background-color: #ccc;
  border-radius: 4px;
  transition: all 0.5s ease;
  margin-bottom: 10px;
}

.bpm.active {
  background-color: #7957d5 !important;
  color: #fff !important;
}

.del-track {
  font-weight:normal;
  font-size: 10px !important;
  padding:2px 4px;
}

.toggle-track.playing-track {
  fill: #7957d5;
}


.track-toggle.open .arrow {
  transform: rotate(180deg);
}

.playing-track .speaker, .playing-track .speaker-waves  {
   fill:white;
   display:block;
}
.speaker {
   fill:grey;
}
.speaker-waves {
   display:none;
}
.arrow {
  fill: #333;
  transform-origin: -30px 30px;
}
.track-options {
  height:auto;
  padding: 8px 8px 8px 8px;
  overflow: scroll;
  transition: all 0.5s ease;
}
.track-options.closed {
  padding:0 8px;
  height:0;
}
.rythm-box {
  padding: 12px;
}
.level {
  overflow: scroll;
}
.pushed {
  background-color: #7957d5 !important;
  color: #fff !important;
}

/*
sqnob
*/

.sqnob {
  position:relative;
  cursor: pointer;
  border:1px solid hsla(0,0%,0%,0.25);
  border-radius: 4px;
  font-size:1em;
  margin:0 4px;
}

.sqnob-info {
  user-select: none;
  padding:4px;
  font-size: 10px;
  font-weight: bold;
}

.sqnob-value {
  background-color: hsla(0,0%,0%,0.25);
  position:absolute;
  width:100%;
  bottom:0;
}


.field {
  margin:0.5em;
  display:flex;
  flex-wrap:wrap;
}
/*
knob
*/


.knob circle.mainCircle {
  fill: #eee;
  stroke: #aaa;
  stroke-width: 3px;
  box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.05), 0 2px 2px 0 rgba(0, 0, 0, 0.1),
    0 3px 3px 0 rgba(0, 0, 0, 0.05);
}

.knob circle.mainCircle.active {
  fill: #ddd;
}

.knob circle.shadow {
  fill: #cdcccc;
}

.knob line {
  stroke: #666b5b;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.knob text {
  font-size: 11px;
  font-weight: bold;
  text-anchor: middle;
  fill: #777;
}


/*   PITCH-TABLE    */

.table-holder {
	width:100%;
	overflow-x:scroll;
}
.pitch-table {
  border-collapse: separate;
}
.control-row {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
  padding:1em 2em;
}
.label {
	place-self:center;
	text-align: center;
	margin:10px;
}
.button-holder {
	display:grid;
	grid-template-columns: 1fr 1fr;
	margin:0 20px;
}
button[disabled="disabled"] {
	background-color: #3498db;
	color:white;
}
.note-block {
	font-family: sans-serif;
	font-size:0.8em;
}
.begin {
	place-self:center;
	font-weight: bold;
	grid-row:1 / 3;
	padding-right:3px;
	white-space: nowrap;
}
.note-button {
	padding:5px;
	color:#fff;
	cursor:pointer;
	user-select: none;
	opacity:1;
  border:1px solid hsla(0,0%,0%,0);
}
.note-grid {

	display:grid;
  grid-gap:0;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 1fr 1fr;
}
.note-button.black-text {
	color:#000;
}
.active-cell {
	border-color: #fff;
	opacity:1;
}
.note-freq {
    font-size: 0.8em;
    line-height: 16px;
}



/* TUNINGS */


.st0{fill:none;stroke:#E0E1E2;stroke-width:2.8346;stroke-miterlimit:10;}
.st1{fill:none;stroke:#EB008B;stroke-width:2.8346;stroke-miterlimit:10;}
.st2{fill:none;stroke:#85C340;stroke-width:2.8346;stroke-miterlimit:10;}
.st3{fill:none;stroke:#2E3191;stroke-width:2.8346;stroke-miterlimit:10;}
.st4{fill:none;stroke:#F4812A;stroke-width:2.8346;stroke-miterlimit:10;}
.st5{fill:none;stroke:#00ADEE;stroke-width:2.8346;stroke-miterlimit:10;}
.st6{fill:none;stroke:#E01156;stroke-width:2.8346;stroke-miterlimit:10;}
.st7{fill:none;stroke:#00A551;stroke-width:2.8346;stroke-miterlimit:10;}
.st8{fill:none;stroke:#90278E;stroke-width:2.8346;stroke-miterlimit:10;}
.st9{fill:none;stroke:#FFF100;stroke-width:2.8346;stroke-miterlimit:10;}
.st10{fill:none;stroke:#0071BB;stroke-width:2.8346;stroke-miterlimit:10;}
.st11{fill:none;stroke:#ED332D;stroke-width:2.8346;stroke-miterlimit:10;}
.st13{fill:#FFFFFF; pointer-events: none; user-select: none}
.st25{fill:none;stroke:#231F20;stroke-miterlimit:10;}
.st26{display:none;}
.st27{display:inline;fill:none;stroke:#A6A8AB;stroke-width:1.4173;stroke-linecap:round;stroke-linejoin:round;}
.st28{display:inline;}
.st29{display:inline;fill:none;stroke:#D4DE25;stroke-width:1.4173;stroke-linecap:round;stroke-linejoin:round;}
.st30{fill:none;stroke:#7C7C7C;stroke-miterlimit:10;}
.st31{opacity:2.000000e-02;fill:none;stroke:#7C7C7C;stroke-width:1.4173;stroke-miterlimit:10;}
.st32{fill:none;stroke:#B2519F;stroke-miterlimit:10;}
.st33{fill:none;stroke:#51C9EE;stroke-miterlimit:10;}
.st34{opacity:0.16;fill:none;stroke:#777777;stroke-width:2.8346;stroke-miterlimit:10;}
.st35{fill:none;stroke:#C2C4C6;stroke-width:0.7087;stroke-miterlimit:10;}
.st36{fill:#FFCF3A;}
.st37{fill:none;stroke:#CBCCCE;stroke-width:4.252;stroke-miterlimit:10;}
.st38{fill:none;stroke:#00A89C;stroke-width:2.8346;stroke-miterlimit:10;}
.st39{fill:none;stroke:#AADFF1;stroke-width:2.8346;stroke-miterlimit:10;}
.st40{fill:none;stroke:#F1F2F2;stroke-width:1.4173;stroke-miterlimit:10;}
.st41{fill:none;stroke:#AAADAF;stroke-width:2.8346;stroke-miterlimit:10;}
.st42{fill:#EB2C28;}
.st43{fill:#F37726;}
.st44{fill:#FFEF00;}
.st45{fill:#7BBC39;}
.st46{fill:#009B47;}
.st47{fill:#009E91;}
.st48{fill:#00A3EC;}
.st49{fill:#0067B2;}
.st50{fill:#292B86;}
.st51{fill:#852383;}
.st52{fill:#E80080;}
.st53{fill:#DC114C;}
.st54{fill:none;stroke:#AAADAF;stroke-width:0.7087;stroke-miterlimit:10;}
.st61{fill:none;stroke:#00A89C;stroke-width:5.6693;stroke-miterlimit:10;}
.st62{fill:none;stroke:#EB008B;stroke-width:5.6693;stroke-miterlimit:10;}
.st63{fill:none;stroke:#85C340;stroke-width:5.6693;stroke-miterlimit:10;}
.st64{fill:none;stroke:#2E3191;stroke-width:5.6693;stroke-miterlimit:10;}
.st65{fill:none;stroke:#F4812A;stroke-width:5.6693;stroke-miterlimit:10;}
.st66{fill:none;stroke:#00ADEE;stroke-width:5.6693;stroke-miterlimit:10;}
.st67{fill:none;stroke:#E01156;stroke-width:5.6693;stroke-miterlimit:10;}
.st68{fill:none;stroke:#00A551;stroke-width:5.6693;stroke-miterlimit:10;}
.st69{fill:none;stroke:#90278E;stroke-width:5.6693;stroke-miterlimit:10;}
.st70{fill:none;stroke:#FFF100;stroke-width:5.6693;stroke-miterlimit:10;}
.st71{fill:none;stroke:#0071BB;stroke-width:5.6693;stroke-miterlimit:10;}
.st72{fill:none;stroke:#ED332D;stroke-width:5.6693;stroke-miterlimit:10;}
.st73{opacity:0.5;}
.st74{fill:none;stroke:#D7D8DA;stroke-width:2.8346;stroke-miterlimit:10;}
.st75{fill:none;stroke:#FFFFFF;stroke-width:1.4173;stroke-miterlimit:10;}
.st76{fill:#E8E8E8;stroke:#231F20;stroke-width:2.126;stroke-miterlimit:10;}
.st77{fill:none;stroke:#7D6E72;stroke-width:1.4173;stroke-miterlimit:10;}
.st78{display:inline;fill:#FFFFFF;}
.st79{fill:#545454;}
.st82{fill:#DADBDC;fill-opacity:0.4;stroke:#231F20;stroke-width:2.126;stroke-miterlimit:10;}
.st83{fill:none;stroke:#ADAFB1;stroke-miterlimit:10;}
.st84{opacity:0.75;}
.st85{fill:#CCCCCD;stroke:#231F20;stroke-width:2.126;stroke-miterlimit:10;}
.st86{fill:#C1C2C4;}
.st87{fill:none;stroke:#565656;stroke-width:2.8346;stroke-miterlimit:10;}
.st88{fill:none;stroke:#EB2C28;stroke-width:2.8346;stroke-miterlimit:10;}
.st89{fill:none;stroke:#00A3EC;stroke-width:2.8346;stroke-miterlimit:10;}
.st90{fill:none;stroke:#DC114C;stroke-width:2.8346;stroke-miterlimit:10;}
.st91{fill:none;stroke:#E80080;stroke-width:2.8346;stroke-miterlimit:10;}
.st92{fill:none;stroke:#852383;stroke-width:2.8346;stroke-miterlimit:10;}
.st93{fill:none;stroke:#292B86;stroke-width:2.8346;stroke-miterlimit:10;}
.st94{fill:none;stroke:#0067B2;stroke-width:2.8346;stroke-miterlimit:10;}
.st95{fill:none;stroke:#009E91;stroke-width:2.8346;stroke-miterlimit:10;}
.st96{fill:none;stroke:#009B47;stroke-width:2.8346;stroke-miterlimit:10;}
.st97{fill:none;stroke:#7BBC39;stroke-width:2.8346;stroke-miterlimit:10;}
.st98{fill:none;stroke:#FFEF00;stroke-width:2.8346;stroke-miterlimit:10;}
.st99{fill:none;stroke:#F37726;stroke-width:2.8346;stroke-miterlimit:10;}
.st100{fill:none;stroke:#00A3EC;stroke-width:1.4173;stroke-miterlimit:10;}
.st101{fill:none;stroke:#009E91;stroke-width:5.6693;stroke-miterlimit:10;}
.st102{fill:none;stroke:#E80080;stroke-width:5.6693;stroke-miterlimit:10;}
.st103{fill:none;stroke:#7BBC39;stroke-width:5.6693;stroke-miterlimit:10;}
.st104{fill:none;stroke:#292B86;stroke-width:5.6693;stroke-miterlimit:10;}
.st105{fill:none;stroke:#F37726;stroke-width:5.6693;stroke-miterlimit:10;}
.st106{fill:none;stroke:#00A3EC;stroke-width:5.6693;stroke-miterlimit:10;}
.st107{fill:none;stroke:#0067B2;stroke-width:5.6693;stroke-miterlimit:10;}
.st108{fill:none;stroke:#FFEF00;stroke-width:5.6693;stroke-miterlimit:10;}
.st109{fill:none;stroke:#852383;stroke-width:5.6693;stroke-miterlimit:10;}
.st110{fill:none;stroke:#009B47;stroke-width:5.6693;stroke-miterlimit:10;}
.st111{fill:none;stroke:#DC114C;stroke-width:5.6693;stroke-miterlimit:10;}
.st112{fill:#474848;}
.st113{fill:none;stroke:#545454;stroke-width:1.4173;stroke-miterlimit:10;}
.st114{fill:#DADBDC;stroke:#231F20;stroke-width:2.126;stroke-miterlimit:10;}
.st115{opacity:0.75;fill:#CCCCCD;stroke:#231F20;stroke-width:2.126;stroke-miterlimit:10;}
@keyframes vibrate {
10%,90% {
transform:translate(1px,1px)
}
20%,80% {
transform:translate(1px,-1px)
}
30%,50%,70% {
transform:translate(-1px,1px)
}
40%,60% {
transform:translate(-1px,-1px)
}
}
.playing {
animation:vibrate 0.5s infinite;
}
.note-name {
text-anchor:middle;
font-size:30px;
fill:#FFF;
pointer-events: none;
user-select: none;
-webkit-user-select: none;
}
#tunings * {
user-select: none;
-webkit-user-select: none;
}
.note-name.just {
font-size:24px;
}
