

.note {
  cursor: pointer;
  opacity:0.8;
}

body {
  margin:4% !important;
  -webkit-font-smoothing:antialiased;
}

.vue-slider-component .vue-slider-tooltip-wrap.vue-slider-tooltip-top {
  top:-4px!important;
}

.adsr-sliders {
  display:flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.adsr-slider {
  flex:1 1 10%;
}

.letters {
    pointer-events: none;
    font-family: sans-serif;
}

.tip {
  text-align: center;
  background:rgba(255,255,255,0.8);
  border-radius: 6px;
  box-shadow:0.5px 0.5px 2px 1px rgba(0,0,0,.32);
  font-size:12px;
  padding:4px;
}

.row {
  margin:12px 0;
  padding:8px;
  background-color: #ddd;
  border-radius: 24px;
}

.sliders {
  padding:52px 0 10px 0;
}
.field {
  background: none;
}
.field-notes {
  font-family:OpenSans, sans-serif;
  font-size:40px;
  font-weight: bold;
}
.scroller {
  fill:#fff;
  opacity:0.4;
}
.scroller-button {
  fill:#555;
  fill-opacity:0.2;
}

.chord-icon {
  display: inline-block;
  width:8%;
  margin:1px;
  cursor:pointer;
}
.minor{
  transform:rotate(180deg);
}
.minor text {
  transform:translateY(-4px);
}
