<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vuetone</title>
    <link href="css/styles.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/buefy.min.css" />
		<link rel="stylesheet" href="css/Chromatone.css" />
		<script src="js/Scales.js"></script>
    <script src="assets/StartAudioContext.js"></script>
    <script src="assets/Tone.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="assets/vue-slider.js"></script>
    <script src="assets/buefy.js"></script>
    <script src="assets/vue-local-storage.js"></script>


    <script id="metronome" type="x-template">
      <div class="rythm-box level is-mobile">
        <div class="level-item is-4 is-narrow is-centered">


          <svg  width="32" height="32" viewBox="0 0 32 32">
            <circle id="metro-flash" v-show="playing" cx="16" cy="16" r="12" style="fill:#444"/>
          </svg>

          </div>
        <div class="level-item is-4 is-narrow is-centered">
          <a is="b-switch" v-model="play" />
        </div>

        <div class="level-item is-narrow is-4">
          <b-field>
          <button class="button" @click="bpm--">-</button>
          <input style="width:50px" class="input is-primary" v-model="bpm" type="text"></input>
          <button class="button" @click="bpm++">+</button>
          </b-field>
        </div>

        <div class="level-item is-4 is-centered">
          {{beatFrequency.toFixed(2)}} Hz – {{toNote}}
        </div>

      </div>
    </script>




    <script id="keys" type="x-template">
    <svg version="1.1" id="Keys" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       viewBox="30 0 1090 280" style="enable-background:new 0 0 1090 280;" xml:space="preserve">
       <rect x="30" rx="42" y="0" width="1090" height="280" style="opacity:0.75" :class="'octave'+octave"/>
      <g class="note"
        v-for="(note, pitch) in notes"
        :data-octave="octave"
        :data-pitch="pitch"
        :class="note.name + octave"
        @touchstart.stop.prevent="down(note, octave,$event)"
        @touchend.stop.prevent="up(note, octave,$event)"
        @touchcancel.stop.prevent="up(note, octave,$event)"
        @mousedown.stop.prevent="down(note, octave,$event)"
        @mouseup.stop.prevent="up(note, octave,$event)"
        @mouseout.stop.prevent="up(note, octave,$event)"
        >
      <circle :cx="120+note.posX*70" :cy="200-note.posY*120" :r="r "/>
      <text
      text-anchor="middle"
      :x="120+note.posX*70"
      :y="225-note.posY*120" class="letters">{{note.name}}</text>
    </g>

    </svg>
    </script>





    <script id="field" type="x-template">

    <svg version="1.1" id="Chromatone" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
  	 viewBox="0 100 1072 1155" style="enable-background:new 0 100 1072 1155;" xml:space="preserve">
     <defs>
         <clipPath id="clip-frame">
         <rect width="1028" :height="1008" x="21.5" y="137" rx="42px"/>
         </clipPath>
     </defs>

  <rect id="body" rx="50" class="chr0" x="0" y="108" width="1072" height="1150"/>

  <g id="cols" class="chr1" style="clip-path: url(#clip-frame);">
    <rect v-for="oct in 9" x="21.5"
    :y="1033-(oct-1)*112"
    :class="{['octave'+(oct-1)]:true}" width="1028" height="112"/>
  </g>

  <g id="plank">
  	<rect
    class="scroller"
    width="84"
    height="1090"
    :x="33+84*root" y="150" rx="42"/>
  	<circle class="scroller" :cx="75+84*root" cy="1195" r="34"/>
  </g>

  <g id="108notes">
    <g v-for="(octave,octInd) in notes108">
      <circle
      v-for="note in octave"
      :cx="75 + 84*note.pitch"
      :cy="1090-112*octInd"
      r="38"
      :data-pitch="note.pitch"
      :data-octave="octInd"
      :data-active="note.active"/>
    </g>
  </g>

  <g id="chroma-frame" class="frame"
  @touchstart.stop.prevent="touchStart($event)"
  @touchend.stop.prevent="touchEnd($event)"
  @touchmove.stop.prevent="touchMove($event)"
  @touchcancel.stop.prevent="touchEnd($event)"
   >
  	<path class="frame-out" d="M63.5,1150.7c-26.3,0-47.7-21.4-47.7-47.7V179c0-26.3,21.4-47.7,47.7-47.7h944c26.3,0,47.7,21.4,47.7,47.7v924c0,26.3-21.4,47.7-47.7,47.7H63.5z"/>
  	<path class="frame-in" d="M1007.5,137c23.1,0,42,18.9,42,42v924c0,23.1-18.9,42-42,42h-944c-23.1,0-42-18.9-42-42V179c0-23.1,18.9-42,42-42H1007.5 M1007.5,125.7h-944c-29.4,0-53.3,23.9-53.3,53.3v924c0,29.4,23.9,53.3,53.3,53.3h944c29.4,0,53.3-23.9,53.3-53.3V179C1060.9,149.6,1036.9,125.7,1007.5,125.7L1007.5,125.7z"/>
  </g>
  <g>
    <g v-for="(note,ind) in notes">
    <text
    text-anchor="middle"
    :x="75+ind*84"
    y="1210"
    class="field-notes"
    :data-pitch="ind"
    >
    {{note.name}}</text>
    <circle @click="root=ind" :cx="75+ind*84" cy="1195" r="38" class="scroller-button"/>
    </g>
  </g>
  </svg>
    </script>





    <script id="key-stack" type="x-template">
    <div>
      <div class="octave-slider">
        <vue-slider
         v-model="octaves"
         :dot-size="36"
         :max="8"
         :height="24"
         direction="horizontal"
         :piecewise="true"
         :piecewise-label="true"
         :tooltip="false"></vue-slider>
      </div>
      <div class="keys-container">
        <div v-for="(octave, ind) in octavesNum">
        <svg @touchstart.stop.prevent="1" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="30 0 1090 280" style="enable-background:new 0 0 1090 280;" xml:space="preserve">
           <rect x="30" rx="42" y="0" width="1090" height="280" style="opacity:0.75" :class="'octave'+octave"/>
            <g class="note"
              v-for="(note, pitch) in notes"
              :data-octave="octave"
              :data-pitch="pitch"
              :class="note.name + octave"
              @touchstart.stop.prevent="down(note, octave,$event)"
              @touchend.stop.prevent="up(note, octave,$event)"
              @touchcancel.stop.prevent="up(note, octave,$event)"
              @mousedown.stop.prevent="down(note, octave,$event)"
              @mouseup.stop.prevent="up(note, octave,$event)"
              @mouseout.stop.prevent="up(note, octave,$event)">
                <circle :cx="120+note.posX*70" :cy="200-note.posY*120" :r="r "/>
                <text
                text-anchor="middle"
                :x="120+note.posX*70"
                :y="225-note.posY*120" class="letters">{{note.name}}</text>
            </g>
        </svg>
        </div>
      </div>
    </div>
  </script>





<script id="synth" type="x-template">
<div class="">
<div class="level adsr-sliders">
<div class="level-item">
  <vue-slider
  v-model="attack"
  :dot-size="24"
  :height="150"
  :width="24"
  :max="400"
  :min="1"
  direction="vertical"
  tooltip="always"
  tooltip-dir="top"
  ><div class="tip" slot="tooltip">ATT<br><b>{{setAttack}}</b></div>
</vue-slider>
</div>
<div class="level-item">
  <vue-slider
  v-model="decay"
  :dot-size="24"
  :height="150"
  :width="24"
  :max="1200"
  :min="1"
  direction="vertical"
  tooltip="always"
  tooltip-dir="top"
  ><div class="tip" slot="tooltip">DEC<br><b>{{setDecay}}</b></div>
</vue-slider>
</div>
<div class="level-item">
  <vue-slider
  v-model="sustain"
  :dot-size="24"
  :height="150"
  :width="24"
  :max="200"
  :min="1"
  direction="vertical"
  tooltip="always"
  tooltip-dir="top"
  ><div class="tip" slot="tooltip">SUS<br><b>{{setSustain}}</b></div>
</vue-slider>
</div>
<div class="level-item ">
  <vue-slider
  v-model="release"
  :dot-size="24"
  :height="150"
  :width="24"
  :max="1000"
  :min="1"
  direction="vertical"
  tooltip="always"
  tooltip-dir="top"
  ><div class="tip" slot="tooltip">REL<br><b>{{setRelease}}</b></div>
</vue-slider>
</div>
</div>
<div class="level">
<div class="level-item is-12">
  <vue-slider
  v-model="oscType"
  :data="oscTypes"
  :dot-size="24"
  :height="24"
  :width="400"
  direction="horizontal"
  :piecewise="true"
  :piecewise-label="true"
  tooltip="false"
  tooltip-dir="top">
    <div class="tip" slot="tooltip">OSC<br><b>{{setOsc}}</b></div>
  </vue-slider>
</div>
</div>
</div>
</script>

<script id="chordion" type="x-template">
<div class="chordion">
  <svg viewBox="-5 -5 265 100" @touchstart.stop.prevent="1">
    <g  v-for="(note,index) in activeNotes">
      <g :transform="chordTranslate(index, 40, 20,50,10)">
      <polygon
        :data-active="activeNotes[(index+4)%12].active"
        :style="{fill:notes[(index+4)%12].color}"
        points="9.25 16.02 0 32.03 18.49 32.03 9.25 16.02"/>
      <polygon
        :data-active="activeNotes[(index+7)%12].active"
        :style="{fill:notes[(index+7)%12].color}"
        points="27.74 16.02 18.49 32.03 36.98 32.03 27.74 16.02"/>
      <polygon
        :class="{'root-chord':note.pitch==root}"
        :data-active="note.active"
        :style="{fill:notes[index].color, stroke:notes[index].color, strokeWidth:0}"
        points="27.74 16.02 18.49 0 9.25 16.02 18.49 32.03 27.74 16.02 27.74 16.02"/>
      <text  x="18" y="20" text-anchor="middle" fill="white" style="font-size:8px;font-weight:bold">{{note.name}}</text>
      <polygon
        style="fill:transparent"
        points="27.74 16.02 18.49 0 9.25 16.02 18.49 32.03 27.74 16.02 27.74 16.02"/>
        <polygon
        @touchstart.stop.prevent="invertChord(index,chords['maj'], $event)"
        @touchmove.stop.prevent="invertChord(index,chords['maj'], $event)"
        @touchend.stop.prevent="stopChord(index,chords['maj'], $event)"
        :style="{stroke:notes[index].color}"

        class="chord-frame" points="18.49 0 0 32.03 36.98 32.03 18.49 0"/>
      </g>

      <g class="triad">
        <g :transform="chordTranslate(index, 40, 0,50,0)">
        <polygon
          :data-active="activeNotes[(index+7)%12].active"
          :style="{fill:notes[(index+7)%12].color}"
          points="27.74 16.02 36.98 0 18.49 0 27.74 16.02"/>
        <polygon
          :data-active="activeNotes[(index+3)%12].active"
          :style="{fill:notes[(index+4)%12].color}"
          points="9.25 16.02 18.49 0 0 0 9.25 16.02"/>
        <polygon
          :class="{'root-chord':note.pitch==root}"
          :data-active="note.active"
          :style="{fill:notes[index].color, stroke:notes[index].color, strokeWidth:0}"
          points="9.25 16.02 18.49 32.03 27.74 16.02 18.49 0 9.25 16.02 9.25 16.02"/>
        <text  x="18" y="18" text-anchor="middle" fill="white" style="font-size:6px;font-weight:bold">{{note.name}}m</text>
        <polygon
        @touchstart.stop.prevent="invertChord(index,chords['min'], $event)"
        @touchmove.stop.prevent="invertChord(index,chords['min'], $event)"
        @touchend.stop.prevent="stopChord(index,chords['min'], $event)"
        :style="{stroke:notes[index].color}"
        class="chord-frame" points="18.49 32.03 36.98 0 0 0 18.49 32.03"/>

        </g>

      </g>
    </g>
  </svg>
</div>
</script>

  </head>


  <body>



  <div id="vuetone">

    <div class="row">
      <div class="level">
        <div class="logo level-item is-6 has-text-centered">
          <img src="logo.svg" style="min-width:150px">
          <vue-slider
          v-model="vol"
          value="-10"
          :dot-size="24"
          :height="10"
          :width="200"
          :max="0"
          :min="-50"
          direction="horizontal"
          tooltip="hover"
          tooltip-dir="left"
          >
          <div class="tip" slot="tooltip">VOL<br><b>{{setVolume}}</b></div>
        </vue-slider>
        </div>

        <div class="level is-mobile">
          <div class="level-item is-4 has-text-centered">
            <div>
                <p>Scales</p>
                <a is="b-switch" v-model="open.scales"></a>
            </div>
          </div>
          <div class="level-item is-4 has-text-centered">
            <div>
            <p>Rythm</p>
                <a is="b-switch" v-model="open.metronome"></a>
              </div>
          </div>
          <div class="level-item is-4 has-text-centered">
            <div>
            <p>Chords</p>
                <a is="b-switch" v-model="open.chords"></a>
              </div>
          </div>
          <div class="level-item is-4 has-text-centered">
            <div>
                <p>Field</p>
                <a is="b-switch" v-model="open.field"></a>
            </div>
          </div>
          <div class="level-item is-4 has-text-centered">
            <div>
                <p>Synth</p>
                <a is="b-switch" v-model="open.synth"></a>
            </div>
          </div>
          <div class="level-item is-4 has-text-centered">
            <div>
                <p>Keys</p>
                <a is="b-switch" v-model="open.keys"></a>
            </div>
            <span>{{opened}}</span>
          </div>
        </div>
      </div>
    </div>

    <div v-if="open.scales" class="row">
      <div class="scale-select level">

        <b-field class="level-item">
            <b-select v-model="scale">
              <option v-for="scal in scales" v-bind:value="scal">
                {{ scal.name }}
              </option>
            </b-select>
        </b-field>
        <div class="level-item">
          <svg width="100%" viewbox="0 0 390 40">
            <g v-for="(note, i) in notes"
                @click.stop.prevent="root=i"
                class="root-select">
              <circle
                    r="16"
                    :cx="20+i*32"
                    :cy="20"
                    :data-pitch="i"
                    :data-active="Number(i==root)"></circle>
              <text
                  :x="20+i*32"
                  y="27"
                  text-anchor="middle"
                  fill="white"
                  style="font-size:18px;font-weight:bold">{{note.name}}</text>
            </g>
          </svg>
        </div>
      </div>
    </div>

    <div v-show="open.metronome" class="row rythm">
      <metronome
        ></metronome>
    </div>

    <div v-show="open.synth" class="row">
      <synth></synth>
    </div>

    <div v-if="open.chords" class="row">

      <chordion :root="root" :scale="scale"></chordion>
    </div>



      <div v-if="open.field" class="row field">
        <field :root="root" :steps="scale.steps"></field>
      </div>




      <div v-if="open.keys" class="row">
        <key-stack
        :root="root"
        :steps="scale.steps"
        @play="play"
        @stop="stop"></key-stack>
      </div>


    </div>

    <script src="js/components.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
